* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: 14px "Century Gothic", Futura, sans-serif;
}

#root {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: url('./assets/backgroundpattern.jpg');
  background-size: cover;
  background-position: center;
}

#game-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 30rem;
  height: 90%;
  max-height: 15rem;
  color: #fff;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0.25rem 1.5rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  background: radial-gradient(at top left, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%) border-box;
  backdrop-filter: blur(3px);
  overflow: hidden;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 50%;
  height: 100%;
}

.board-row {
  display: flex;
  flex: 1;
  width: 100%;
  overflow-y: clip;
}

.square {
  display: flex;
  flex: 1;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 60px;
  line-height: 34px;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.square:hover:enabled {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(200, 175, 150, 0.2) 100%) border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1rem 0.3rem;
}

.square:disabled {
  background: linear-gradient(0deg, rgba(200, 175, 150, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%) border-box;
  cursor: default;
}

.square:disabled::before,
.square:disabled::after {
  content: 'c';
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.7rem 0.4rem;
  border-radius: 50%;
  display: block;
  position: relative;
  margin: 50%;
  height: 100%;
}

.status-bar {
  display: flex;
  width: 100%;
  min-height: 3rem;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.moves-list {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
  overflow-y: scroll;
  overflow-x: visible;
  box-shadow: inset rgba(0,0,0, 0.4) 0 1rem 2rem -2rem, inset rgba(0,0,0, 0.4) 0 -1rem 2rem -2rem;
}

.step {
  display: flex;
  width: 100%;
  height: 2.5rem;
  background: transparent;
  border: none;
  font-size: 20px;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.step.past-step {
  backdrop-filter: blur(2px);
}

.step.future-step {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.4)
}

.step:hover:enabled {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(200, 175, 150, 0.3) 100%) border-box;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 1rem 0;
}

.step:disabled {
  background: linear-gradient(0deg, rgba(200, 175, 150, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%) border-box;
  cursor: default;
}

.step:disabled::before,
.step:disabled::after {
  content: 'c';
  display: block;
  height: 100%;
  margin: 50%;
  position: relative;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.7rem 0.4rem;
}